**/__pycache__/
Build/*
AgesaModulePkg/AMD Beta Firmware License.pdf
AgesaModulePkg/Firmwares/Genoa/AmdPubKey.tkn
AgesaModulePkg/Firmwares/Genoa/APOB_NV.bin
AgesaModulePkg/Firmwares/Genoa/Appb_Ddr5_0x64_3_Rdimm_Imem1.ecsbin
AgesaModulePkg/Firmwares/Genoa/Appb_Ddr5_0x64_4_Rdimm_Imem2.ecsbin
AgesaModulePkg/Firmwares/Genoa/Appb_Ddr5_0x64_9_Rdimm_Imem1.ecsbin
AgesaModulePkg/Firmwares/Genoa/Appb_Ddr5_0x64_A_Rdimm_Imem2.ecsbin
AgesaModulePkg/Firmwares/Genoa/Appb_Ddr5_0x65_3_Rdimm_Dmem1.ecsbin
AgesaModulePkg/Firmwares/Genoa/Appb_Ddr5_0x65_4_Rdimm_Dmem2.ecsbin
AgesaModulePkg/Firmwares/Genoa/Appb_Ddr5_0x65_9_Rdimm_Dmem1.ecsbin
AgesaModulePkg/Firmwares/Genoa/Appb_Ddr5_0x65_A_Rdimm_Dmem2.ecsbin
AgesaModulePkg/Firmwares/Genoa/PspSevEmptyData.bin
AgesaModulePkg/Firmwares/Genoa/SecureEmptyToken.bin
AgesaModulePkg/Firmwares/Genoa/TypeId0x01_PspBl.esbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x03_PspRecBl.esbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x08_SmuFirmware.ecsbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x09_PspDebugUnlockToken.stkn
AgesaModulePkg/Firmwares/Genoa/TypeId0x0A_PspAblPubKey.stkn
AgesaModulePkg/Firmwares/Genoa/TypeId0x12_SmuFirmware2.sbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x13_SduFw.esbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x21_PspAmdIkek.bin
AgesaModulePkg/Firmwares/Genoa/TypeId0x24_RegisterAccessPolicy.esbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x2a_Mp5.ecsbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x30_AgesaBootLoaderU.ecsbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x39_SevFw.esbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x42_PhyFw.esbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x44_USB_PHY.esbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x47_PspDrtmUapp.esbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x50_PspKeyDataBase.sbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x55_SPLTable.sbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x5DMpioFw.cesbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x76_DfRib.ecsbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x8B_FipsModule.sbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x8C_MPDMATF.esbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x91_GmiPhyFw.esbin
AgesaModulePkg/Firmwares/Genoa/TypeId0x92_Page.esbin
AgesaModulePkg/Firmwares/Genoa/UcodePatch_B0.bin
AgesaModulePkg/Firmwares/Genoa/UcodePatch_B1.bin
AgesaModulePkg/README.md
